body {
    font-family: Arial, sans-serif;
    background-color: #000080;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}

h1 {
    color: yellow;
    text-align: center;
}

.todo-container {
    display: flex;
    margin-bottom: 20px;
}

.todo-container input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
}

.todo-container button {
    padding: 10px 20px;
    background-color: yellow;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
}

.todo-container button:hover {
    background-color: #45a049;
}
